.footer-toolbar {
    text-align: center; 
  }
  
  .footer-toolbar ion-title {
    color: #6d6c6c; 
  }
  

  .custom-orange {
    --background: #ff8800; /* Cambia el color de fondo del botón a naranja */
  }

  .custom-black {
    --background: #000000; 
  }
  .custom-text-center {
    text-align: center;
  }
  .custom-button-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .custom-thumbnail-center{
    display: flex;
    justify-content: center;
    align-items: center;
    --border-radius: 50px;

  }

  .custom-size {
    width: 80%;
   
  }
  ion-menu::part(backdrop) {
    background-color: rgba(255, 166, 0, 0.5);
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
    box-shadow: 4px 0px 16px rgba(255, 119, 0, 0.18);
  }
  
