<!-- This is the HTML template for the Dashboard page
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
 -->

 <ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenido de la página de Dashboard -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>¡Hola!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Bienvenido al panel de Dashboard.</p>
    </ion-card-content>
  </ion-card>
</ion-content>

