<!-- This is the HTML template for the Dashboard page
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
 -->

 <!-- Header que realmente no se usa, pero lo dejo por si acaso
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down" pullingText="" refreshingSpinner="circles" refreshingText="">
    </ion-refresher-content>
  </ion-refresher>
  
  <!-- Contenido de la página de Dashboard -->
  
  <!-- <ion-card>
      <ion-card-header>
        <ion-card-title>¡Hola!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>dashboard.</p>
        <ion-textarea [(ngModel)]="nombre" placeholder="Nombre"></ion-textarea>
        <ion-textarea [(ngModel)]="email" placeholder="Correo electrónico"></ion-textarea>
        <ion-button (click)="insertarDatos()">Insertar Datos</ion-button>
      </ion-card-content>
    </ion-card>   IMPORTANTE SWIPER npm install swiper@latest-->
   
    <swiper-container>
      <swiper-slide> 
            <ion-card>
                  <ion-card-title class="ion-padding-start">Gráfico de pie gid</ion-card-title>
                <ion-card-content class="ion-margin-top" [ngClass]="{'cardContent' : below}">
                  <app-pie-grid [data]="data" [legendPosition]="legendPosition" ></app-pie-grid>
                </ion-card-content>
             </ion-card>
    </swiper-slide>
      <swiper-slide> 
          <ion-card> 
              <ion-card-title class="ion-padding-start">Gráfico de barras verticales</ion-card-title>
                <ion-card-content class="ion-margin-top" [ngClass]="{'cardContent' : below}">
                   <app-vertical-bar-chart [view]="view" [legendPosition]="legendPosition"[data]="data" ></app-vertical-bar-chart>
                 </ion-card-content>
         </ion-card>
      </swiper-slide>
      <swiper-slide>ola</swiper-slide>
    </swiper-container>
    <ion-card>
      <ion-card-title class="ion-padding-start">Gráfico de pie gid</ion-card-title>
    <ion-card-content class="ion-margin-top" [ngClass]="{'cardContent' : below}">
      <app-pie-grid [data]="data" [legendPosition]="legendPosition" ></app-pie-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-title class="ion-padding-start">Gráfico de barras verticales</ion-card-title>
    <ion-card-content class="ion-margin-top" [ngClass]="{'cardContent' : below}">
      <app-vertical-bar-chart [view]="view" [legendPosition]="legendPosition"[data]="data" ></app-vertical-bar-chart>
    </ion-card-content>
  </ion-card>

 

</ion-content>



