<ion-header>
  <ion-toolbar>
    <ion-title>Contabilidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contabilidad</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenido de la página de Dashboard -->
  <ion-card>
    <ion-card-header>
      <h2 style="font-size: 24px; color: orange; font-weight: bold;">Controla tus ahorros, toma el control de tu vida.</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>Selecciona una categoría</ion-label>
        <ion-select interface="action-sheet" [(ngModel)]="selectedCategoria">
          <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.CATEGORIA">
            {{ categoria.CATEGORIA }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      
      <!-- Campos para ingresar cantidades -->
      <ion-item>
        <ion-label position="stacked">Cantidad</ion-label>
        <ion-input type="text" inputmode="numeric" placeholder="Ingrese la cantidad" [(ngModel)]="cantidad"></ion-input>
      </ion-item>
      <ion-button (click)="insertRegistro()" expand= "block" class="custom-orange">Insertar Montos</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Lista de categorías y cantidades -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Categorías y Montos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let monto of montos">
          <ion-icon slot="start" [name]="getIconName(monto.CATEGORIA)"></ion-icon>
          <ion-label>{{ monto.CATEGORIA }}</ion-label>
          <ion-badge slot="end" [color]="getBadgeColor(monto.CATEGORIA)">{{ monto.SUMA_MENSUAL }}€</ion-badge>
        </ion-item> 
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
