.footer-toolbar {
    text-align: center; 
  }
  
  .footer-toolbar ion-title {
    color: #6d6c6c; 
  }
  

  .custom-orange {
    --background: #ff8800; /* Cambia el color de fondo del botón a naranja */
  }

  .custom-black {
    --background: #000000; 
  }
