<!-- Header que realmente no se usa, pero lo dejo por si acaso
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-end">
        <ion-content class="ion-padding">
          <ion-fab slot="fixed" vertical="top" horizontal="start">
            <ion-fab-button class="custom-orange">
              <ion-icon name="color-palette-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="end">
              <ion-fab-button (click)="toggleDarkMode(true)">
                <ion-icon name="moon"></ion-icon>
              </ion-fab-button>

              <ion-fab-button (click)="toggleDarkMode(false)">
                <ion-icon name="sunny-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </ion-content>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="12" class="custom-button-center">
        <img src="assets/logo-prototipo.png" alt="Logo de la aplicación" >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="custom-text-center">
        <h2><strong>Sign in</strong> </h2>
        <h4>Pon tu DNI y contraseña</h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" >
        <ion-item lines="full">
          <ion-label position="floating">DNI</ion-label>
          <ion-input type="text" placeholder="Ejem. 12345678A" [(ngModel)]="dni"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item lines="full">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" placeholder="Ejem. A1frj!!@btgttgS2" [(ngModel)]="contrasena"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="custom-button-center">
        <ion-button class="custom-size custom-black" shape="round" (click)="entrar()">
        Entrar
       </ion-button>
      </ion-col>
      <ion-toast
      [isOpen]="isToastOpen"
      message="Error en los credenciales"
      [duration]="3000"
      (didDismiss)="setOpen(false)"
    ></ion-toast>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="custom-button-center">
        <ion-button fill="clear">¿Has olvidado tu contraseña?</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="custom-text-center">
        <ion-item-divider>
          <ion-label>¿No tienes cuenta?</ion-label>
        </ion-item-divider>
      </ion-col>
    </ion-row>
       
    <ion-row>
      <ion-col size="12" class="custom-text-center">
        <ion-button [routerLink]="['/crear-cuenta']" class="custom-orange"  shape= "round" expand="block">Nueva cuenta </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-toolbar">
    App creada por: Celia Lloret Nicolás
  </ion-toolbar>
</ion-footer>

