<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12" class="custom-button-center">
      <img src="assets/recuperarcuenta.png" alt="Logo de la aplicación" >
    </ion-col>
  </ion-row>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Datos de la cuenta </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Correo electronico</ion-label>
        <ion-input type="email" placeholder="Ejem. 12345678A"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">DNI</ion-label>
        <ion-input type="text" placeholder="Ejem. 12345678A" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" placeholder="Ejem. 12345678A"></ion-input>
      </ion-item>
      </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Preguntas de seguridad</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Correo electronico</ion-label>
        <ion-input type="email" placeholder="Ejem. 12345678A"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">DNI</ion-label>
        <ion-input type="text" placeholder="Ejem. 12345678A" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" placeholder="Ejem. 12345678A"></ion-input>
      </ion-item>
      </ion-card-content>
  </ion-card>
  <ion-button expand="block" class = "custom-orange" >Enviar Respuestas</ion-button>

</ion-content>
